openapi: 3.0.3
info:
  title: UK Fuel Finder API
  description: |
    API to fetch fuel prices and PFS (Petrol Filling Station) information, including incremental updates.
    
    This API provides access to real-time fuel prices across all UK filling stations as required by 
    The Motor Fuel Price (Open Data) Regulations 2025.
  version: 1.0.0
  contact:
    name: Fuel Finder Support
    url: https://www.developer.fuel-finder.service.gov.uk/contact-us

servers:
  - url: https://www.fuel-finder.service.gov.uk/api/v1
    description: Production server
  - url: https://test.fuel-finder.service.gov.uk/api/v1
    description: Test server

security:
  - OAuth2: []

paths:
  /oauth/generate_access_token:
    post:
      summary: Generate OAuth 2.0 Access Token
      description: Obtain an access token using OAuth 2.0 client credentials flow
      operationId: generateAccessToken
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - client_id
                - client_secret
              properties:
                grant_type:
                  type: string
                  enum: [client_credentials]
                  example: client_credentials
                client_id:
                  type: string
                  description: Your OAuth client ID
                  example: your_client_id
                client_secret:
                  type: string
                  description: Your OAuth client secret
                  example: your_client_secret
      responses:
        '200':
          description: Access token generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pfs/fuel-prices:
    get:
      summary: Fetch all PFS fuel prices
      description: |
        Fetch all fuel prices from Petrol Filling Stations with support for incremental updates.
        Use the date_time parameter to fetch only prices updated since a specific date.
      operationId: getAllPfsPrices
      tags:
        - Prices
      parameters:
        - name: date_time
          in: query
          required: true
          description: Start date in YYYY-MM-DD format for incremental updates
          schema:
            type: string
            format: date
            example: "2025-09-05"
        - name: batch-number
          in: query
          required: false
          description: Batch identifier for pagination/chunking
          schema:
            type: integer
            example: 1
        - name: effective-start-timestamp
          in: query
          required: false
          description: Effective start timestamp in YYYY-MM-DD HH:MM:SS format
          schema:
            type: string
            example: "2025-09-05 10:30:00"
      responses:
        '200':
          description: Incremental fuel prices fetched successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PFS'
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pfs:
    get:
      summary: Fetch PFS information
      description: |
        Fetch all PFS (Petrol Fuel Station) information including address, operator, brand, and amenities.
        
        **Pagination**: Each API response returns data for up to 500 forecourts. To retrieve additional 
        forecourts, use the batch-number query parameter. For example:
        - First call returns forecourts 0-500
        - Second call with batch-number=2 returns forecourts 501-1000
      operationId: getAllPfs
      tags:
        - Forecourts
      parameters:
        - name: batch-number
          in: query
          required: false
          description: |
            Batch number for pagination. Each batch returns up to 500 forecourts.
            - batch-number=1 (or omitted): Returns forecourts 0-500
            - batch-number=2: Returns forecourts 501-1000
            - batch-number=3: Returns forecourts 1001-1500
          schema:
            type: integer
            minimum: 1
            example: 1
      responses:
        '200':
          description: PFS info fetched successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PFSInfo'
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pfs/incremental:
    get:
      summary: Fetch incremental PFS information
      description: |
        Fetch PFS information incrementally based on the provided effective start timestamp.
        Returns only PFS records that have been updated since the specified date.
      operationId: getIncrementalPfs
      tags:
        - Forecourts
      parameters:
        - name: date_time
          in: query
          required: true
          description: Start date in YYYY-MM-DD format for incremental updates
          schema:
            type: string
            format: date
            example: "2025-09-05"
        - name: batch-number
          in: query
          required: false
          description: Batch number for pagination
          schema:
            type: integer
            minimum: 1
            example: 1
        - name: effective-start-timestamp
          in: query
          required: false
          description: Effective start timestamp in YYYY-MM-DD HH:MM:SS format
          schema:
            type: string
            example: "2025-09-05 10:30:00"
      responses:
        '200':
          description: Incremental PFS info fetched successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PFSInfo'
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow
      flows:
        clientCredentials:
          tokenUrl: https://www.fuel-finder.service.gov.uk/api/v1/oauth/generate_access_token
          scopes: {}

  schemas:
    TokenResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
          description: JWT access token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        token_type:
          type: string
          enum: [Bearer]
          example: Bearer
        expires_in:
          type: integer
          description: Token expiry time in seconds
          example: 3600

    PFS:
      type: object
      description: Petrol Filling Station with fuel prices
      required:
        - node_id
        - mft_organisation_name
        - trading_name
        - fuel_prices
      properties:
        node_id:
          type: string
          description: Unique identifier for the PFS
          example: "0028acef5f3afc41c7e7d"
        mft_organisation_name:
          type: string
          description: Motor Fuel Trader organization name
          example: "789 LTD"
        trading_name:
          type: string
          description: Trading name of the station
          example: "FORECOURT 4"
        public_phone_number:
          type: string
          nullable: true
          description: Public contact phone number
          example: "01234567890"
        fuel_prices:
          type: array
          description: Array of fuel prices at this station
          items:
            $ref: '#/components/schemas/FuelPrice'

    PFSInfo:
      type: object
      description: Petrol Filling Station information (without prices)
      required:
        - node_id
        - mft_organisation_name
        - trading_name
      properties:
        node_id:
          type: string
          description: Unique identifier for the PFS
          example: "0028acef5f3afc41c7e7d"
        mft_organisation_name:
          type: string
          description: Motor Fuel Trader organization name
          example: "Shell UK"
        trading_name:
          type: string
          description: Trading name of the station
          example: "Shell Station"
        public_phone_number:
          type: string
          nullable: true
          description: Public contact phone number
          example: "01234567890"
        address:
          type: object
          description: Station address
          properties:
            line1:
              type: string
              example: "123 High Street"
            line2:
              type: string
              nullable: true
              example: ""
            city:
              type: string
              example: "London"
            county:
              type: string
              nullable: true
              example: "Greater London"
            postcode:
              type: string
              example: "SW1A 1AA"
        location:
          type: object
          description: Geographic coordinates
          properties:
            latitude:
              type: number
              format: double
              example: 51.5074
            longitude:
              type: number
              format: double
              example: -0.1278
        brand:
          type: string
          description: Station brand
          example: "Shell"
        operator:
          type: string
          description: Station operator
          example: "Shell UK"
        amenities:
          type: array
          description: Available amenities
          items:
            type: string
            enum:
              - shop
              - atm
              - car_wash
              - air_pump
              - toilet
              - disabled_access
              - ev_charging
          example: ["shop", "atm", "car_wash"]
        opening_hours:
          type: object
          description: Opening hours information
          additionalProperties: true

    FuelPrice:
      type: object
      description: Fuel price information
      required:
        - fuel_type
        - price
        - currency
        - updated_at
      properties:
        fuel_type:
          type: string
          description: Type of fuel
          enum:
            - unleaded
            - super_unleaded
            - diesel
            - premium_diesel
            - lpg
          example: unleaded
        price:
          type: number
          format: float
          description: Price in pence per litre
          example: 142.9
        currency:
          type: string
          description: Currency code
          enum: [GBP]
          example: GBP
        updated_at:
          type: string
          format: date-time
          description: Timestamp when price was last updated
          example: "2026-02-02T18:00:00Z"

    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error code
          example: unauthorized
        message:
          type: string
          description: Human-readable error message
          example: Invalid or expired access token
        details:
          type: object
          description: Additional error details
          additionalProperties: true
