openapi: 3.0.3
info:
  title: UK Fuel Finder API
  description: |
    API to fetch fuel prices and PFS (Petrol Filling Station) information, including incremental updates.
    
    This API provides access to real-time fuel prices across all UK filling stations as required by 
    The Motor Fuel Price (Open Data) Regulations 2025.
  version: 1.0.0
  contact:
    name: Fuel Finder Support
    url: https://www.developer.fuel-finder.service.gov.uk/contact-us

servers:
  - url: https://www.fuel-finder.service.gov.uk/api/v1
    description: Production server
  - url: https://test.fuel-finder.service.gov.uk/api/v1
    description: Test server

security:
  - OAuth2: []

paths:
  /oauth/generate_access_token:
    post:
      summary: Generate OAuth 2.0 Access Token
      description: |
        Generate an OAuth-style access token using client_id and client_secret.
        The generated token is used to authenticate subsequent API requests within the Fuel Finder ecosystem.
      operationId: generateAccessToken
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - client_id
                - client_secret
              properties:
                client_id:
                  type: string
                  description: Your OAuth client ID
                  example: your_client_id
                client_secret:
                  type: string
                  description: Your OAuth client secret
                  example: your_client_secret
      responses:
        '200':
          description: Access token generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid request payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Invalid client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /oauth/regenerate_access_token:
    post:
      summary: Regenerate OAuth access token using refresh token
      description: |
        Regenerate an OAuth access token using a refresh token.
        This allows obtaining a new access token without re-authenticating with client credentials.
        Requires both client_id and refresh_token.
      operationId: refreshAccessToken
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - client_id
                - refresh_token
              properties:
                client_id:
                  type: string
                  description: Your OAuth client ID
                  example: your_client_id
                refresh_token:
                  type: string
                  description: The refresh token received from initial authentication
                  example: your_refresh_token
      responses:
        '200':
          description: Access token regenerated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid refresh token or client id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - Refresh token expired or revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pfs/fuel-prices:
    get:
      summary: Fetch PFS fuel prices
      description: |
        Fetch fuel prices from Petrol Filling Stations.
        
        **Full Fetch**: Omit the effective-start-timestamp parameter to fetch all current fuel prices.
        
        **Incremental Fetch**: Provide the effective-start-timestamp parameter to fetch only prices updated since that timestamp.
      operationId: getPfsPrices
      tags:
        - Prices
      parameters:
        - name: batch-number
          in: query
          required: false
          description: Batch identifier for pagination/chunking
          schema:
            type: integer
            example: 1
        - name: effective-start-timestamp
          in: query
          required: false
          description: |
            Timestamp in YYYY-MM-DD HH:MM:SS format for incremental updates.
            - If provided: Returns only prices updated since this timestamp (incremental)
            - If omitted: Returns all current fuel prices (full fetch)
          schema:
            type: string
            example: "2025-09-05 10:30:00"
      responses:
        '200':
          description: Fuel prices fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PFS'
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pfs:
    get:
      summary: Fetch PFS information
      description: |
        Fetch PFS (Petrol Fuel Station) information including address, operator, brand, and amenities.
        
        **Full Fetch**: Omit the effective-start-timestamp parameter to fetch all PFS information.
        
        **Incremental Fetch**: Provide the effective-start-timestamp parameter to fetch only updated PFS information.
        
        **Pagination**: Each API response returns data for up to 500 forecourts. To retrieve additional 
        forecourts, use the batch-number query parameter.
      operationId: getAllPfs
      tags:
        - Forecourts
      parameters:
        - name: batch-number
          in: query
          required: false
          description: |
            Batch number for pagination. Each batch returns up to 500 forecourts.
          schema:
            type: integer
            minimum: 1
            example: 1
        - name: effective-start-timestamp
          in: query
          required: false
          description: |
            Timestamp in YYYY-MM-DD HH:MM:SS format for incremental updates.
            Returns only PFS records updated since this timestamp.
          schema:
            type: string
            example: "2025-09-05 10:30:00"
      responses:
        '200':
          description: PFS info fetched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PFSInfo'
        '401':
          description: Unauthorized - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow
      flows:
        clientCredentials:
          tokenUrl: https://www.fuel-finder.service.gov.uk/api/v1/oauth/generate_access_token
          scopes: {}

  schemas:
    TokenResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
          description: JWT access token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        token_type:
          type: string
          enum: [Bearer]
          example: Bearer
        expires_in:
          type: integer
          description: Token expiry time in seconds
          example: 3600
        refresh_token:
          type: string
          description: Refresh token for obtaining new access tokens (optional)
          example: refresh_token_string

    PFS:
      type: object
      description: Petrol Filling Station with fuel prices
      required:
        - node_id
        - mft_organisation_name
        - trading_name
        - fuel_prices
      properties:
        node_id:
          type: string
          description: Unique identifier for the PFS
          example: "0028acef5f3afc41c7e7d"
        mft_organisation_name:
          type: string
          description: Motor Fuel Trader organization name
          example: "789 LTD"
        trading_name:
          type: string
          description: Trading name of the station
          example: "FORECOURT 4"
        public_phone_number:
          type: string
          nullable: true
          description: Public contact phone number
          example: "01234567890"
        fuel_prices:
          type: array
          description: Array of fuel prices at this station
          items:
            $ref: '#/components/schemas/FuelPrice'

    PFSInfo:
      type: object
      description: Petrol Filling Station information
      required:
        - node_id
        - mft_organisation_name
        - trading_name
      properties:
        node_id:
          type: string
          description: Unique identifier for the PFS
        mft_organisation_name:
          type: string
          description: Motor Fuel Trader organization name
        trading_name:
          type: string
          description: Trading name of the station
        public_phone_number:
          type: string
          nullable: true
          description: Public contact phone number
        is_same_trading_and_brand_name:
          type: boolean
          nullable: true
        brand_name:
          type: string
          nullable: true
        temporary_closure:
          type: boolean
          nullable: true
        permanent_closure:
          type: boolean
          nullable: true
        permanent_closure_date:
          type: string
          nullable: true
        is_motorway_service_station:
          type: boolean
          nullable: true
        is_supermarket_service_station:
          type: boolean
          nullable: true
        location:
          type: object
          description: Geographic location with full address
          properties:
            address_line_1:
              type: string
            address_line_2:
              type: string
              nullable: true
            city:
              type: string
            country:
              type: string
            county:
              type: string
              nullable: true
            postcode:
              type: string
            latitude:
              type: string
            longitude:
              type: string
        amenities:
          type: array
          items:
            type: string
          description: Available amenities
        opening_times:
          type: object
          description: Opening hours information
        fuel_types:
          type: array
          items:
            type: string
          description: Available fuel types
        operator:
          type: string
          description: Station operator
          example: "Shell UK"
        amenities:
          type: array
          description: Available amenities
          items:
            type: string
            enum:
              - shop
              - atm
              - car_wash
              - air_pump
              - toilet
              - disabled_access
              - ev_charging
          example: ["shop", "atm", "car_wash"]
        opening_hours:
          type: object
          description: Opening hours information
          additionalProperties: true

    FuelPrice:
      type: object
      description: Fuel price information
      required:
        - fuel_type
      properties:
        fuel_type:
          type: string
          description: Type of fuel
          enum:
            - E10
            - E5
            - B7_STANDARD
            - B7_PREMIUM
            - B10
            - HVO
          example: E10
        price:
          type: string
          nullable: true
          description: Price in pence per litre (string format like "0120.0000")
          example: "0142.9000"
        price_last_updated:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when price was last updated
          example: "2026-02-02T18:00:00"

    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error code
          example: unauthorized
        message:
          type: string
          description: Human-readable error message
          example: Invalid or expired access token
        details:
          type: object
          description: Additional error details
          additionalProperties: true
